<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Blog-Insano</a>
  
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <% categories.forEach(category => { %>

        <li class="nav-item">
          <a class="nav-link" href="/category/<%= category.slug%>"><%= category.title%></a>
        </li>

        <%})%>

        <li>
          <a href="/admin/users" class="nav-link">
            Usuários
          </a>
        </li>

      </ul>
  
    </div>
  </nav>
  